@import "src/styles/App.scss";

.searchBar__input {

    display: inline-block;
    flex-grow: 1;
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: $corner-border-radius;
    background: $main-bg-color;
    padding-left: 12px;

    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    align-items: center;
    outline: none;

}

.searchBar__input:focus {

    transition: 0.8s;
    border: 1px solid $main-icon-color;
    color: $default-color;

}

.searchBar__input:disabled {

    background: $border-color;

}