@import "src/styles/App.scss";

.searchBar__button {
    @include square(50px, $corner-border-radius);
    margin-left: 12px;

    display: inline-block;
    flex-shrink: 0;
    color: $main-bg-color;
    background: $main-icon-color;
    //border-radius: $corner-border-radius;
    // height: 50px;
    //width: 50px;
    border: none;

}

.searchBar__button:hover {

    transition: 0.8s;
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);

}

.searchBar__button:disabled {

    background: $border-color;

}

