<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DZ-1</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/null_style.css">
</head>
<body>
<div class="main-block">

    <div class="search-bar">
        <input class="search-bar__input" name="s" placeholder="Введите название организации" type="search">
        <button class="search-bar__button" type="submit"><img class="search-bar__button-img" src="search.svg" alt="">
        </button>
    </div>

    <div class="git-repo-tile">
        <div class="git-repo-tile__avatar">K</div>
        <div class="git-repo-tile-content">
            <span class="git-repo-tile-content__rep-name">kts-school-frontend</span>
            <span class="git-repo-tile-content__org-name">ktsstudio</span>
            <img class="git-repo-tile-content__star-img" src="star.svg" alt="">
            <span class="git-repo-tile-content__star-number">123</span>
            <span class="git-repo-tile-content__updated">Updated 21 Jul</span>

        </div>
    </div>


    <div class="git-repo-tile">
        <div class="git-repo-tile__avatar">T</div>
        <div class="git-repo-tile-content">
            <span class="git-repo-tile-content__rep-name">very-long-repository-kts-school-frontend</span>
            <span class="git-repo-tile-content__org-name">ktsstudio</span>
            <img class="git-repo-tile-content__star-img" src="star.svg" alt="">
            <span class="git-repo-tile-content__star-number">123</span>
            <span class="git-repo-tile-content__updated">Updated 21 Jul</span>

        </div>
    </div>


    <div class="git-repo-tile">
        <div class="git-repo-tile__avatar-img"></div>
        <div class="git-repo-tile-content">
            <span class="git-repo-tile-content__rep-name">kts-school-frontend</span>
            <span class="git-repo-tile-content__org-name">ktsstudio</span>
            <img class="git-repo-tile-content__star-img" src="star.svg" alt="">
            <span class="git-repo-tile-content__star-number">123</span>
            <span class="git-repo-tile-content__updated">Updated 21 Jul</span>

        </div>
    </div>
</div>
</body>
</html>