<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div class="main-block">

        <div class="search-bar">
            <form action="#">
                <input  class= "search-bar__input" name="s" placeholder="Введите название организации" type="search">
                <button class="search-bar__button" type="submit"><img src="Lupa.png" alt=""></button>
            </form>
        </div>

        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">Х</div>
            <div class="git-repo-tile-content">
                <span class="git-repo-tile-content__rep-name">kts-school-frontend</span>
                <span class="git-repo-tile-content__org-name">ktsstudio</span>
                <img class="git-repo-tile-content__star-img" src="starr.png" alt="">
                <span class="git-repo-tile-content__star-number">123</span>
                <span class="git-repo-tile-content__updated">Updated 21 Jul</span>
                
            </div>
        </div>
        

        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">Y</div>
            <div class="git-repo-tile-content">
                <span class="git-repo-tile-content__rep-name">kts-school-frontend</span>
                <span class="git-repo-tile-content__org-name">ktsstudio</span>
                <img class="git-repo-tile-content__star-img" src="starr.png" alt="">
                <span class="git-repo-tile-content__star-number">123</span>
                <span class="git-repo-tile-content__updated">Updated 21 Jul</span>
                
            </div>
        </div>


        <div class="git-repo-tile">
            <div class="git-repo-tile__avatar">Z</div>
            <div class="git-repo-tile-content">
                <span class="git-repo-tile-content__rep-name">kts-school-frontend</span>
                <span class="git-repo-tile-content__org-name">ktsstudio</span>
                <img class="git-repo-tile-content__star-img" src="starr.png" alt="">
                <span class="git-repo-tile-content__star-number">123</span>
                <span class="git-repo-tile-content__updated">Updated 21 Jul</span>
                
            </div>
        </div>









    </div>
</body>
</html>