@import "src/styles/App.scss";yarn

.gitRepoTile__avatar {
    position: relative;
    margin-left: 12px;
    font-weight: 700;
    font-size: 40px;
    line-height: 78px;
    text-align: center;
    color: $main-bg-color;

    background: $main-icon-color;

    @include square(80px , $circle-border-radius);
}


.gitRepoTile__avatarImg {
    position: relative;
    margin-left: 12px;

    @include square(80px , $circle-border-radius);

}